<nav>
    <div class="left"><i id="menu_icon" class="ri-menu-line"></i>xyz translate</div>
    <div class="right"></div>
</nav>
<div class="side_nav">
    <div class="op">
        <a href="/img_text">
            <h3><i class="ri-image-fill"></i> Images</h3>
        </a>
    </div>
    <div class="op">
        <a href="/">
            <h3><i class="ri-file-text-line"></i> TEXT</h3>
        </a>
    </div>
</div>